# Editor configuration
.idea/

# Setuptools, their dist folder
/build/
/dist/

# checks
phpunit
phpunit-*
.phpunit.cache
tests/data/clover.xml

# external libs
tests/external/
tests/discard/
/composer.lock

# environment
docker-compose.yml
phpdocker/
/vendor
composer.phar
composer.lock
.php_cs.cache
.php-cs-fixer.cache
.DS_Store
Thumbs.db
